
.btn{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px 24px;
    size: 15px;
    color: #fff;
    position: static;
    width: 398px;
    height: 48px;
    left: 0px;
    top: 221px;
    font-family: 'Inter', sans-serif;
    background: #005FFC;
    border-radius: 8px;
    border-color: #005FFC;
    margin-top: 24px;
}
.txtinput{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 12px;

    position: static;
    width: 398px;
    height: 44px;
    left: 0px;
    top: 24px;
    font-family: 'Inter', sans-serif;
    margin-top: 8px;
    margin-bottom: 16px;
}
.input{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;

    position: static;
    height: 68px;
    left: 0px;
    top: 0px;
    margin-top: 8px;
    margin-bottom:16px;
    font-family: 'Inter', sans-serif;

}
.linktext{
    /* Forgot your password? */


position: static;
width: 154px;
height: 21px;
left: 0px;
top: 84px;

font-family: 'Inter', sans-serif;
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 150%;
/* identical to box height, or 21px */
text-align: left;
align-items: flex-start;

color: #005FFC;


/* Inside auto layout */

flex: none;
order: 1;
flex-grow: 0;
margin: 16px 0px;
}