.login{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 56px 48px;
    text-align: left;

    position: absolute;
    width: 494px;
    height: 497px;
    top: 50%;
    right: 50%;
    margin:-280px -280px 0px 0px   ;

    /* Light/White */

    background: #FFFFFF;
    box-shadow: 40px 114px 200px rgba(0, 0, 0, 0.16);
    border-radius: 20px;
}
h1{
font-family: 'Inter', sans-serif;;
}
.SignUp{
    /* Auto layout */

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 56px 48px;

    position: absolute;
    width: 494px;
    height: 512px;
    top: 50%;
    right: 50%;
    margin: -300px -280px 0px 0px;

    /* Light/White */

    background: #FFFFFF;
    box-shadow: 40px 114px 200px rgba(0, 0, 0, 0.16);
    border-radius: 20px;
}
.RestPass{
    /* Auto layout */

display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 56px 48px;

position: absolute;
width: 494px;
height: 415px;
right: 50%;
top: 50%;
margin: -240px -280px 0px 0px;

/* Light/White */

background: #FFFFFF;
box-shadow: 40px 114px 200px rgba(0, 0, 0, 0.16);
border-radius: 20px;
}
.ForgotPass{
        /* Auto layout */

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 32px 24px;

    position:absolute;
    width: 494px;
    height: 406px;
    top: 50%;
    right: 50%;
    margin: -240px -280px 0px 0px;


    /* Light/White */

    background: #FFFFFF;
    box-shadow: 40px 54px 80px rgba(0, 0, 0, 0.03);
    border-radius: 20px;
}
.p{
    color:#666666 ;
}